@import "../../lettertype.scss"; 

.endPartOne {
    text-align: center;
    vertical-align: middle;
    min-height: 293.578px;
    position: relative;

    ion-icon {
        width: 160px; 
        height: 160px;
        position: absolute; 
        top: 50%;          
        left: 50%;               
        transform: translate(-50%, -50%);    
    }
}

p {
    text-align: center;
    font-size: 40px; 
    color: #fff; 
    font-family: "futrfw"; 
    margin-top: 70px;
    margin-bottom: 90px; 
}