@import "../../../lettertype.scss"; 

.logo {
    text-align: center;
    
    img {
        text-align: center;
        width: 85%; 
    }
}

.countdown {
    text-align: center;
    
    p {
        color: #fff;
        font-size: 50px; 
        margin: 30px 0 30px 0; 
        font-family: "futrfw";
    }
}