@import "../../../lettertype.scss"; 

.logo {
    text-align: center;
    
    img {
        text-align: center;
        width: 75%; 
    }
}

.countdown {
    text-align: center;
    color: #fff; 
    
    p {
        font-size: 50px; 
        margin: 50px 0 30px 0; 
        font-family: "futrfw";
    }
}