<div class = "game">
  <div class = "buttons">
      <ion-button id = "option1" class = "button1" (click) = "checkAnswer($event)"><ion-icon id = "icon1" name="close"></ion-icon></ion-button>
      <ion-button id = "option2" class = "button2" (click) = "checkAnswer($event)"><ion-icon id = "icon2" name="checkmark"></ion-icon></ion-button>
      <img class = "smile" src = "assets/icon/smile.svg" />
  </div>

  <div class = "circles">
    <ion-icon class = "circle1" name="ios-radio-button-on"></ion-icon>
    <ion-icon class = "circle2" name="ios-radio-button-on"></ion-icon>
    <ion-icon class = "circle3" name="ios-radio-button-on"></ion-icon>
    <ion-icon class = "circle4" name="ios-radio-button-on"></ion-icon>
    <ion-icon class = "circle5" name="ios-radio-button-on"></ion-icon>
  </div>

  <div class = "submitButton" *ngIf = "win">
      <ion-item>
        <ion-icon src = "assets/icon/key.svg" (click) = "verifyCode()"></ion-icon>
      </ion-item>
  </div>

  <ion-fab vertical = "bottom" horizontal = "end" slot = "fixed">
    <ion-fab-button>
        <ion-icon src = "assets/icon/lamp.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side = "start">
        <ion-fab-button (click) = "openTip($event)">
            <ion-icon id = "Development" src = "assets/icon/devroom.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click) = "openTip($event)">
            <ion-icon id = "Broadcast" src = "assets/icon/broadroom.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click) = "openTip($event)">
            <ion-icon id = "Creative" src = "assets/icon/crearoom.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>
