.victoryOne {
    text-align: center;

    ion-icon {
        width: 80px; 
        height: 80px;
        margin-top: 80px; 
        animation: spin 3.5s; 
        animation-iteration-count: infinite; 
    }

    p {
        font-size: 43px; 
        color: #fff; 
        margin-top: 30px; 
        font-family: "futrfw"; 
        margin-bottom: 10px; 
    }

    .nxt {
        font-size: 90px; 
        margin-top: 0;
        margin-bottom: 50px; 
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}