@import "../../lettertype.scss"; 

.qrscanner {
    min-height: 263.578px;
    margin-top: 30px;
    position: relative;

    img {
        height: 263.578px;
        position: absolute;               
        left: 50%;                         
        transform: translate(-50%, 0);
    }

    p {
        position: absolute; 
        color: #fff; 
        font-family: "futrfw"; 
        font-size: 40px; 
        width: 40px;
        left: 50%;                         
        transform: translate(-50%, 0);
        top: 19%; 
    }
}

.submitButton {
    margin-bottom: 100px; 
}