@import "../../lettertype.scss"; 

.broadCode {
    text-align: center;
    margin-top: 20px; 

    ion-icon {
        width: 200px; 
        height: 200px;
    }

    p {
        font-size: 50px; 
        color: #fff; 
        margin-top: 50px; 
        font-family: "futrfw"; 
    }
}