<form *ngIf = "form"[formGroup] = "form" (ngSubmit) = "verifyCode()">
  <ion-list>
    <div class = "room1">
        <div class = "roomIcons">
            <ion-icon id = "devRoom" src = "assets/icon/devroom.svg" (click) = "verifyCode()"></ion-icon>
        </div>
        <ion-item>
            <ion-input type = "tel" formControlName = "code_number_1" maxlength="1"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-input type = "tel" formControlName = "code_number_2" maxlength="1"></ion-input>
          </ion-item>
    </div>

    <div class = "room2">
        <div class = "roomIcons">
          <ion-icon id = "broadRoom" src = "assets/icon/brow.svg" (click) = "verifyCode()"></ion-icon>
        </div>
        <ion-item>
            <ion-input type = "tel" formControlName = "code_number_3" maxlength="1"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-input type = "tel" formControlName = "code_number_4" maxlength="1"></ion-input>
          </ion-item>
    </div>

    <div class = "room3">
        <div class = "roomIcons">
          <ion-icon id = "creaRoom" src = "assets/icon/crew.svg" (click) = "verifyCode()"></ion-icon>
        </div>
        <ion-item>
            <ion-input type = "tel" formControlName = "code_number_5" maxlength="1"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-input type = "tel" formControlName = "code_number_6" maxlength="1"></ion-input>
        </ion-item>
    </div>
  </ion-list>
  <div class = "submitButton">
    <ion-item>
      <ion-icon src = "assets/icon/key.svg" (click) = "verifyCode()"></ion-icon>
    </ion-item>
  </div>
</form>
