form {
    height: 293.578px;
    margin-top: 3px; 
}

ion-list {
    background: #000;
    margin-bottom: 0; 
    height: 293.578px;
    
    ion-item {
        --background: #000; 
        --border-radius: 50%; 
        width: 80px; 
        min-height: 80px;
        margin-bottom: 7.5px; 
        margin-bottom: 7.5px; 
        padding: 0;
        display: inline-block;
        --border-width: 4px; 
        --inner-border-width: 0px; 
        text-align: center;
        vertical-align: middle;
    }

    div ion-item:nth-child(2) {
        margin-right: 5px; 
    }
    
    div ion-item:nth-child(3) {
        margin-left: 5px; 
    }

    .room1, .room2, .room3 {
        background-color: #000; 
        text-align: center;
        vertical-align: middle;
        border: 0px; 
        margin-bottom: 20px; 

        .roomIcons {
            display: inline-block;
            vertical-align: middle;
        }

        ion-icon {
            width: 60px; 
            height: 60px;
            margin-right: 20px; 
        }
    }
    
    ion-input {
        color: #fff; 
        font-size: 42px;
    }
}


