// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
    background-color: #000;
}

ion-content {
    --background: #000;
}

ion-header {
    margin-top: 25%; 
}

.sc-ion-popover-ios-h {
    --width: 600px; 
}

.sc-ion-popover-md {
    --width: 600px; 
}

ion-fab {
    ion-fab-button {
        width: 60px; 
        height: 60px;
        --background: #000; 
        border: 3px solid grey;
        border-radius: 50%; 

        ion-icon {
            width: 30px; 
            height: 30px;
        }
    }

    ion-fab-list {
        height: 60px;
        margin-right: 65px; 
        
        ion-fab-button {
            width: 30px; 
            height: 30px;
            border: 0px solid #000; 
        }
    }
}

.submitButton {
    text-align: center;
    margin-top: 110px;

    ion-item {
        --background: #000; 
        --inner-border-width: 0px;     
    
        img {
            width: 22%; 
            margin-left: auto;
            margin-right: auto;
        }
    }
}